.latestPosts_card {

  display: flex;
  gap: 12px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .latestPosts_card {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
}

@media screen and (min-width: 992px) {
  .latestPosts_card {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
}

.latestPosts_cardImage img {
  width: 100%;
  border-radius: 3px;
}



.latestPosts_cardBody {
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .latestPosts_cardBody {
    padding: 12px;
  }
}
@media screen and (min-width: 992px) {
  .latestPosts_cardBody {
    padding: 24px;
  }
}

.latestPosts_cardTitle {
  font-weight: 700;
}
